@import "tailwindcss";



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsla(277, 51%, 74%, 0.538);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
